<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="admin/common :: head"></div>
    <link rel="stylesheet" type="text/css" href="/static/lib/webuploader/0.1.5/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/static/css/admin/add-house.css">
    <title>增加地铁/站点</title>
</head>
<body>
<div>
    <content class="page-container">
        <form class="form form-horizontal" id="form-subway-add">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>城市：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <span class="select-box" style="widows: 0;">
                        <select class="select" name="city" id="city">
                            <option value="">请选择</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>线路名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="请输入线路名，例如1号线" id="subway"
                           name="subway" required>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>站点名：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="" placeholder="线路对应多个站点，请用;(英文)隔开" id="station"
                           name="station" required>
                </div>
            </div>

            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button class="btn btn-primary radius" type="submit"><i
                            class="Hui-iconfont">&#xe632;</i> 提交
                    </button>
                    <!--<button onClick="layer_close();" class="btn btn-default radius"-->
                    <button onClick="removeIframe();" class="btn btn-default radius"
                            type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </form>
    </content>
</div>

<footer th:include="admin/common :: footer"></footer>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/static/js/admin/subway-add.js"></script>
<script type="text/javascript" src="/static/js/admin/house-common.js"></script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>