<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/common :: head">
    <title>我的桌面</title>
</head>
<body>
<div class="page-container">
    <h1 style="margin: 0px; padding: 0px; font-size: 40px; font-weight: 400; font-family: &quot;Microsoft YaHei&quot;; color: rgb(255, 255, 255); text-shadow: rgba(28, 31, 33, 0.6) 0px 2px 4px; text-align: center; line-height: 48px; white-space: normal; background-color: rgb(255, 255, 255);">
        <span style="color: rgb(112, 48, 160);">海屋搜房平台，基于ElasticSearch</span>
    </h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="smalle-title" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 22px; line-height: 26px; color: rgb(103, 70, 246);">
        业务
    </p>
    <p class="smalle-title" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 22px; line-height: 26px; color: rgb(103, 70, 246);">
        <br/>
    </p>
    <p>
        分角色用户入口：普通用户／管理员用户
    </p>
    <p>
        完善的管理功能：后台管理／权限管理<br/>
    </p>
    <p>
        核心功能模块：房源浏览 / 搜索／地图找房/会员系统／预约看房
    </p>
    <p class="smalle-title" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 22px; line-height: 26px; color: rgb(103, 70, 246);">
        <br/>
    </p>
    <p class="smalle-title" style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 22px; line-height: 26px; color: rgb(103, 70, 246);">
        技术
    </p>
    <p>
        核心技术&amp;搜索引擎：ElasticSearch（基于5.x最新版本）
    </p>
    <p>
        前端：Thymeleaf、Jquery、Bootstrap、webUpLoad
    </p>
    <p>
        基础核心框架：Spring Boot + Spring Data JPA
    </p>
    <p>
        权限控制：Spring Security
    </p>
    <p>
        数据库：MySQL、H2
    </p>
    <p>
        消息中间件：Kafka
    </p>
    <p>
        应用数据分析：ELK
    </p>
    <p>
        <br/>
    </p>
    <p>
        <span style="color: rgb(255, 255, 255); font-family: &quot;PingFang SC&quot;, 微软雅黑, &quot;Microsoft YaHei&quot;, Helvetica, &quot;Helvetica Neue&quot;, Tahoma, Arial, sans-serif; font-size: 14px; background-color: rgb(77, 77, 77);"><br/></span>
    </p>
</div>
</body>
</html>