<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <style type="text/css">
        .error {
            color: red;
            padding-left:2px;
        }
    </style>
</head>
<form th:action="@{/login}" th:method="post">
    <span class="error" style="display: block;" th:text="${errors.loginError}"></span>
    用户名：<input type="text" name="username" th:value="${param.userName}"><span class="error" th:text="${errors.userName}"></span><br/>
    密码：<input type="password" name="password"><span class="error" th:text="${errors.password}"></span><br/>
    <input type="submit" value="登录">&nbsp;
    <a th:href="@{/forgotPwdUI}" target="_self">忘记密码？</a>&nbsp;
    <a th:href="@{/registerUI}" target="_self">注册</a>
</form>
<body>

</body>
</html>