<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>重新设置密码</title>
<style type="text/css">
	.error {
		color: red;
		padding-left:5px;
	}
</style>
</head>
<body>
	<s th:if="${Msg eq '验证成功'}">
		<h2 th:text="${Msg}"></h2>
		<form th:action="@{/resetPassword(id = ${user.getId()})}" th:method="post">
                <span class="error" style="display: block;" th:text="${errors.passwordError}"></span>
                用户名：<input type="text" name="username" th:value="${user.getUsername()}" readonly="readonly"/><br/>
                新密码：<input type="password" name="password" /><span class="error" th:text="${errors.newPassword }"></span><br/>
                确认新密码：<input type="password" name="password2"/><span class="error" th:text="${errors.newPassword2 }"></span><br/>
                <input type="submit" value="修改" />
            </form>
	</s>
	<s th:if="${Msg eq '验证失败'}">
		<h2 th:text="${Msg}+'请重新获取'"></h2>
	</s>
</body>
</html>