<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AccountActivate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>跳转到注册页面</description>
    <display-name>registerUIServlet</display-name>
    <servlet-name>registerUIServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.RegisterUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUIServlet</servlet-name>
    <url-pattern>/registerUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>注册</description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>激活帐户</description>
    <display-name>ActivateAccountServlet</display-name>
    <servlet-name>ActivateAccountServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.ActivateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateAccountServlet</servlet-name>
    <url-pattern>/activateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>帐户激活成功页面</description>
    <display-name>AccountActivateUIServlet</display-name>
    <servlet-name>AccountActivateUIServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.AccountActivateUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountActivateUIServlet</servlet-name>
    <url-pattern>/accountActivateUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>登录页面</description>
    <display-name>LoginUIServlet</display-name>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.LoginUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/loginUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>登录</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>申请新的帐户激链接</description>
    <display-name>ApplyActivateLink</display-name>
    <servlet-name>ApplyActivateLink</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.ApplyActivateLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyActivateLink</servlet-name>
    <url-pattern>/applyActivateLink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>更新用户信息页面</description>
    <display-name>UpdateUIServlet</display-name>
    <servlet-name>UpdateUIServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.UpdateUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUIServlet</servlet-name>
    <url-pattern>/updateUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改用户信息</description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>找回密码页面</description>
    <display-name>ForgotPwdUIServlet</display-name>
    <servlet-name>ForgotPwdUIServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.ForgotPwdUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPwdUIServlet</servlet-name>
    <url-pattern>/forgotPwdUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPwdServlet</display-name>
    <servlet-name>ForgotPwdServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.ForgotPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPwdServlet</servlet-name>
    <url-pattern>/forgotPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>重新设置密码</description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/resetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>重新设置密码页面</description>
    <display-name>ResetPasswordUIServlet</display-name>
    <servlet-name>ResetPasswordUIServlet</servlet-name>
    <servlet-class>org.study.accountactivate.web.servlet.ResetPasswordUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordUIServlet</servlet-name>
    <url-pattern>/resetPasswordUI</url-pattern>
  </servlet-mapping>
</web-app>